<template name="settingsForm">
    <div class="form-wrapper d-block col-12 col-sm-8 col-md-6">
        <div class="form-section">
            <div class="form-section-head">
                <h3>Password</h3>
            </div>
            <div class="form-field">
                <label for="">Old Password</label>
                <input type="password" id="passOldPassword" />
            </div>
            <div class="form-field">
                <label for="">New Password</label>
                <input type="password" id="passNewPassword" />
            </div>
            <div class="form-field">
                <label for="">Confirm New Password</label>
                <input type="password" id="passConfirmPassword" />
            </div>
            <div class="form-actions">
                <button class="form-btn btnUpdatePass" title="Update Passwords">Update Password</button>
            </div>
        </div>
    </div>
</template>