<template name="shopownerEditProductForm">
    <div class="form-wrapper d-block">
        <div class="form-section">
            <div class="form-field">
                <label for="">Brand Name</label>
                <input type="text" id="txtBrandname" placeholder="ex. Koo" value="{{getProductBrand}}"/>
            </div>
            <div class="form-field">
                <label for="">Item Name</label>
                <input type="text" id="txtItemname" placeholder="ex. Beans" value="{{getProductName}}" />
            </div>
            <div class="form-field">
                <label for="">Item Size</label>
                <input type="text" id="txtItemsize" placeholder="ex. 40KG" value="{{getProductSize}}" />
            </div>
            <div class="form-field">
                <label for="">Stock Price</label>
                <input type="number" id="numStockprice" min=".01" step=".01" placeholder="ex. 20.35" value="{{getProductStockPrice}}"/>
            </div>
            <div class="form-field">
                <label for="">Selling Price</label>
                <input type="number" id="numSellingprice" min=".01" step=".01" placeholder="ex. 30.32" value="{{getProductPrice}}"/>
            </div>
            <div class="form-field d-none">
                <label for="">Product Category</label>
                <select name="productCategory" id="selProductCategory">
                    <option>Select Product Category</option>
                    {{#each getProductCategories}}
                        <option value={{categoryValue}}>{{categoryName}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    </div>
</template>