<template name="shopkeeperTransactionCartDrawer">
    <div id="drawer-cart" class="drawer drawer--right">
        <div class="drawer-header">
            <h3>Cart</h3>
        </div>
        <div class="drawer-body">
            <div class="drawer-body-wrapper cart-products">

            </div>
            <div class="drawer-footer">
                <div class="cart-subtotal">
                    <h6>Subtotal</h6>
                    <p class="sub-total">R {{getTotal}}</p>
                </div>
                <a href="" class="drawer-btn btn-checkout">Checkout</a>
            </div>
        </div>
    </div>
</template>