<template name="shopkeeperSideNav">
    <nav class="side-nav">
        <ul>
            <li>
                <a href="/shop-keeper" title="Home"><i class="material-icons">home</i></a>
            </li>
            <li>
                <a href="/shop-keeper/new-transaction" title="New Transaction"><i class="material-icons">shopping_basket</i></a>
            </li>
            <li>
                <a href="/shop-keeper/past-transactions" title="Past Transactions"><i class="material-icons">watch_later</i></a>
            </li>
            <li>
                <a href="/shop-keeper/products" title="Products"><i class="material-icons">shopping_cart</i></a>
            </li>
            <li>
                <a href="/shop-keeper/prepaid" title="Prepaid"><i class="material-icons">receipt</i></a>
            </li>
            <li>
                <a href="/shop-keeper/tickets" title="Bus Tickets"><i class="material-icons">directions_bus</i></a>
            </li>
            <li>
                <a href="/shop-keeper/promos" title="Promos"><i class="material-icons">whatshot</i></a>
            </li>
        </ul>
    </nav>
</template>