<template name="shopownerPromosLayout">
    <div class="inner-content-wrapper">
        {{> pageNav pageHead = "Promos"}}
        <div class="promos-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <figure><img  src="/images/promos/Top_banner.png" style="padding:1px 1px 1px 1px; width:100%; box-shadow: 2px 2px 5px #a5a5a5;" /></figure>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <figure><img  src="/images/promos/Promo_1_small.png" style="padding:1px 1px 1px 1px; width:100%; box-shadow: 2px 2px 5px #a5a5a5;" /></figure>
                    </div>
                    <div>
                        <figure><img  src="/images/promos/Promo_strip.png" style="padding:1px 1px 1px 1px; width:100%; box-shadow: 2px 2px 5px #a5a5a5;" /></figure>
                    </div>
                </div>
                <div class="col-md-8">
                    <div>
                        <figure><img  src="/images/promos/Promo_1_main.png" style="padding:1px 1px 1px 1px; width:100%; box-shadow: 2px 2px 5px #a5a5a5;" /></figure>
                    </div>
                    <div>
                        <figure><img  src="/images/promos/Promo_2_main.png" style="padding:1px 1px 1px 1px; width:100%; box-shadow: 2px 2px 5px #a5a5a5;" /></figure>
                    </div>                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div>
                        <figure><img  src="/images/promos/Promo_medium.png" style="padding:1px 1px 1px 1px; width:100%; box-shadow: 2px 2px 5px #a5a5a5;" /></figure>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <figure><img  src="/images/promos/Promo_2_small.png" style="padding:1px 1px 1px 1px; width:100%; box-shadow: 2px 2px 5px #a5a5a5;" /></figure>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <figure><img  src="/images/promos/Bottom_banner.png" style="padding:1px 1px 1px 1px; width:100%; box-shadow: 2px 2px 5px #a5a5a5;" /></figure>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3 style="text-align: center">Contact us for more information: hello@pavilionpos.co.za</h3>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-4">
                    <figure><img style="width: 100%;" src="/images/promos/promo_1.jpeg" /></figure>
                </div>
                <div class="col-4">
                    <figure><img style="width: 100%;" src="/images/promos/promo_2.jpeg" /></figure>
                </div>
                <div class="col-4">
                    <figure><img style="width: 100%;" src="/images/promos/promo_3.jpeg" /></figure>
                </div>
            </div> -->
        </div>
    </div>
</template>
