<template name="shopownerSideNav">
    <nav class="side-nav">
        <ul>
            <li>
                <a href="/shop-owner" title="Home"><i class="material-icons">home</i></a>
            </li>
            <li>
                <a href="/shop-owner/shops" title="Shops"><i class="material-icons">store</i></a>
            </li>
            <li>
                <a href="/shop-owner/products" title="Products"><i class="material-icons">shopping_cart</i></a>
            </li>
            <li>
                <a href="/shop-owner/promos" title="Promos"><i class="material-icons">whatshot</i></a>
            </li>
            <li>
                <a href="/shop-owner/reports" title="Reports"><i class="material-icons">assessment</i></a>
            </li>
        </ul>
    </nav>
</template>