<template name="ppElectricityForm">
    <div class="form-wrapper d-block col-12 col-sm-8 col-md-6">
        <div class="form-section">
            <div class="form-section-head">
                <h3>Prepaid Electricity</h3>
            </div>
            <div class="form-field">
                <label for="">Voucher Amount</label>
                <input type="num" id="numElecVoucherAmnt" />
            </div>
            <div class="form-field">
                <label for="">Mobile Number</label>
                <input type="tel" id="telElecMobileNumber" />
            </div>
            <div class="form-actions">
                <button class="form-btn btnSellElectricity" title="Sell Electricity">Sell Electricity</button>
            </div>
        </div>
    </div>
</template>