<template name="superadminSideNav">
    <nav class="side-nav">
        <ul>
            <li>
                <a href="/admin" title="Home"><i class="material-icons">home</i></a>
            </li>
            <li>
                <a href="/admin/shops" title="Shops"><i class="material-icons">store</i></a>
            </li>
            <li>
                <a href="/admin/users" title="Users"><i class="material-icons">supervisor_account</i></a>
            </li>
            <li>
                <a href="/admin/promos" title="Promos"><i class="material-icons">whatshot</i></a>
            </li>
        </ul>
    </nav>
</template>