<template name="shopownerProductEditDrawer">
    <div id="drawer-productedit" class="drawer drawer--right">
        <div class="drawer-header">
            <h3>Edit Product</h3>
        </div>
        <div class="drawer-body">
            <div class="drawer-body-wrapper product-edit">
                {{> shopownerEditProductForm}}
            </div>
            <div class="drawer-footer">
                <a href="" class="drawer-btn btn-update">Update</a>
            </div>
        </div>
    </div>
</template>