<template name="shopownerShopEditDrawer">
    <div id="drawer-shopedit" class="drawer drawer--right">
        <div class="drawer-header">
            <h3>Edit Shop</h3>
        </div>
        <div class="drawer-body">
            <div class="drawer-body-wrapper shop-edit">
                {{> shopownerEditShopForm}}
            </div>
            <div class="drawer-footer">
                <a href="" class="drawer-btn btn-update">Update</a>
            </div>
        </div>
    </div>
</template>